<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Petrona:wght@100;200;300;400;500;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>

</head>
<body>
    <h1>Blockchain</h1>
    <form method="POST">
        <label for="name">Name</label>
        <input type="text" id="Name" name="Name">
        <label for="cash">Cash</label>
        <input type="text" id="Cash" name="Cash">
        <input type="submit" value="Submit">
    </form>

    <div class="registers">

    </div>
    <div class="block" style="display:none" >
        <div class="index" >

        </div>
        <div class="hashes">
            <div class="hash" >
                <div class="hashicon">#</div>
            </div>
            <div class="hash" >
                <div class="hashicon">#</div>
            </div>
        </div>
        <div class="feature">
            <div class="title">
                Cash
            </div>
            <div class="value">

            </div>
        </div>
        <div class="feature">
            <div class="title">
                Name
            </div>
            <div class="value">
                
            </div>
        </div>
    </div>

    <script>
        //public variables
        const socket =io();
        var form = document.querySelector("form")
        var block;
        function $(id)
        {
            return document.getElementById(id);
        }
        form.addEventListener('submit',(e)=>{
            e.preventDefault();
            sendSocket();
        })

        socket.on('message',function(strNewBlock){
            //console.log(newBlock);
            renderBlock(JSON.parse(strNewBlock));
        });

        function sendSocket(){
            const name = $("Name").value;
            const cash = $("Cash").value;   
            socket.emit('message', {Name:name,Cash:cash});
           // socket.send(json);
        }

        function renderBlock(Block){
            var nodeblock = document.querySelector(".block");
            //nodeblock.style.display="flex";
            var cln = nodeblock.cloneNode(true);
            cln.style.display="flex";
            cln.querySelector(".index").innerText=Block.index;
            cln.querySelectorAll(".hash")[0].innerText=Block.prev_hash;
            cln.querySelectorAll(".hash")[1].innerText=Block.hash;
            cln.querySelectorAll(".value")[0].innerText=Block.data.Cash;
            cln.querySelectorAll(".value")[1].innerText=Block.data.Name;
            document.querySelector(".registers").appendChild(cln)
            
        }

    </script>


</body>
</html>